#navbar{
    display: flex;
    justify-content: space-evenly;
    padding: 35px;
}

#study-text-image{
  background-color: rgb(238, 203, 209);  
border-radius: 25px;
padding: 10px 0px 95px 0px;
}

#statistics{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    border-radius: 35px;
  
}

#container{
    border: solid black;
border-radius: 30px;
background-color: pink;
margin: 50px;

}

#baims{
    font-size: 1.5em;
}

#search-for-anything-icon{
    color: black;
    position: absolute;
    top: 18%; 
    left: 15.9%; 
    text-align: center;
    cursor: pointer;  
}

#book{
    height: 400px;
    width: 500px;
    border-radius: 20px;
}

#search-learn-icon{
    color: black;
    position: absolute;
    top:82%; 
    left: 8.9%; 
    cursor: pointer;  

}

.study-anytime-and-book{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(238, 203, 209); 
    margin-top: 45px;
   
}


#study-anytime{
    font-size: 3.5em;
    font-weight: bold;
}

#what-to-learn{
    padding: 10px 25px;
    border-radius: 30px;
}
#search-for-anything{
    border-radius: 25px;
    padding: 5px 95px 5px 25px;
    margin-bottom: 3%;
    background-color:rgb(238, 203, 209); 
}

#signIn{
    border: none;
    background-color: rgb(238, 203, 209); ;
}

#signUp{
    background-color: black;
    border: none;
    color: white;
    border-radius: 35px;
    padding: 5px;
    inline-size: 100px;
    block-size:35px;
    margin-top: -1%;
    
}

#some_choice{
    border: none;
    background-color: #EECBD1;
    margin-top: 10%;
}




@media screen and (min-width:240px) and (max-width:480px){

    #navbar{
        display: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 25px;
    }
    
    #study-text-image{
      background-color: rgb(238, 203, 209);  
    border-radius: 25px;
    padding: 10px 0px 5px 0px;
    }
    
    #statistics{
        background-color: white;
        display: wrap;
        flex-direction: column;
        justify-content: space-evenly;
    
        
      
    }

    

    #search-learn-icon{
        color: black;
        position: absolute;
        top:87%; 
        left: 9.2%; 
        cursor: pointer;  
    
    }
    
    #container{
        border: solid black;
    
    background-color: pink;
    margin: 20px; 
    
    }
    
    #book{
        height: 200px;
        width: 200px;
        border-radius: 20px;
    }
    
    .study-anytime-and-book{
        display: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgb(238, 203, 209); 
        
       
    }
    
    
    #study-anytime{
        font-size: 2.5em;
        font-weight: bold;
    }
    
    #what-to-learn{
        padding: 10px 25px;
        border-radius: 30px;
        width: 160px;
    }
    #search-for-anything{
        border-radius: 25px;
        padding: 5px 95px 5px 25px;
        width: 40px;
        background-color:rgb(238, 203, 209); 
    }
    
    #signIn{
        border: none;
        background-color: rgb(238, 203, 209); ;
    }
    
    #signUp{
        background-color: black;
        color: white;
        border-radius: 35px;
        padding: 5px;
        width: 100px;
        height:35px;
        
    }
    
   
    
    
}




@media screen and (min-width:481px) and (max-width:750px){

    #navbar{
        display: wrap;
        /* flex-direction: column; */
        justify-content: space-evenly;
        padding: 15px;
    }
    
    #study-text-image{
      background-color: rgb(238, 203, 209);  
    border-radius: 25px;
    padding: 9px 0px 5px 0px;
    
    }
    
    #statistics{
        background-color: white;
        display: wrap;
        flex-direction: column;
        /* justify-content: space-evenly; */
    
        gap: 15px;
      
    }
    
    #container{
        border: solid black;
    
    background-color: pink;
    margin: 20px;
    
    }
    
    #book{
        height: 200px;
        width: 300px;
        border-radius: 20px;
    }
    
    .study-anytime-and-book{
        display: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgb(238, 203, 209); 
        
       
    }
    
    
    #study-anytime{
        font-size: 2.5em;
        font-weight: bold;
    }
    
    #what-to-learn{
        padding: 10px 25px;
        border-radius: 30px;
    }
    #search-for-anything{
        border-radius: 25px;
        padding: 5px 95px 5px 25px;
        width: 123px;
        background-color:rgb(238, 203, 209); 
    }
    
    #signIn{
        border: none;
        background-color: rgb(238, 203, 209); ;
    }
    
    #signUp{
        background-color: black;
        color: white;
        border-radius: 35px;
        padding: 5px;
        width: 100px;
        height:35px;
        
    }
    
   
    
    
}

@media screen and (min-width:751px) and (max-width:1024px){

    #navbar{
        display: wrap;
        gap: 19px;
        padding: 15px;
    }
    
    #study-text-image{
      background-color: rgb(238, 203, 209);  
    border-radius: 25px;
    padding: 10px 0px 5px 0px;
    }
    
    #statistics{
        background-color: white;
        display: wrap;
        /* flex-direction: column; */
        justify-content: space-evenly;
    
        
      
    }
    
    #container{
        border: solid black;
    
    background-color: pink;
    margin: 20px;
    
    }
    
    #book{
        height: 200px;
        width: 300px;
        border-radius: 20px;
    }
    
    .study-anytime-and-book{
        display: wrap;
        /* flex-direction: column; */
        justify-content: space-evenly;
        background-color: rgb(238, 203, 209); 
        
       
    }
    
    
    #study-anytime{
        font-size: 2.5em;
        font-weight: bold;
    }
    
    #what-to-learn{
        padding: 10px 25px;
        border-radius: 30px;
    }
    #search-for-anything{
        border-radius: 25px;
        padding: 5px 95px 5px 25px;
        width: 123px;
        background-color:rgb(238, 203, 209); }
    
    #signIn{
        border: none;
        background-color: rgb(238, 203, 209); 
    }
    
    #signUp{
        background-color: black;
        color: white;
        border-radius: 35px;
        padding: 5px;
        width: 100px;
        height:35px;
        
    }
    
}
    @media screen and (min-width:1081px) and (max-width:1024px){

        #navbar{
            display: wrap;
            flex-direction: column;
            gap: 16px;
            padding: 15px;
        }
        
        #study-text-image{
          background-color: rgb(238, 203, 209);  
        border-radius: 25px;
        padding: 10px 0px 5px 0px;
        }
        
        #statistics{
            background-color: white;
            display: wrap;
            /* flex-direction: column; */
            justify-content: space-evenly;
        
            
          
        }
        
        #container{
            border: solid black;
        
        background-color: pink;
        margin: 20px;
        
        }
        
        #book{
            height: 200px;
            width: 300px;
            border-radius: 20px;
        }
        
        .study-anytime-and-book{
            display: wrap;
            /* flex-direction: column; */
            justify-content: space-evenly;
            background-color: rgb(238, 203, 209); 
            
           
        }
        
        
        #study-anytime{
            font-size: 2.5em;
            font-weight: bold;
        }
        
        #what-to-learn{
            padding: 10px 25px;
            border-radius: 30px;
            width: 10px;
        }
        #search-for-anything{
            border-radius: 25px;
            padding: 5px 95px 5px 25px;
            width: 123px;
            background-color:rgb(238, 203, 209); 
        }
        
        #signIn{
            border: none;
            background-color: rgb(238, 203, 209); ;
        }
        
        #signUp{
            background-color: black;
            color: white;
            border-radius: 35px;
            padding: 5px;
            width: 100px;
            height:35px;
            
        }
        
       
    
    
}


